<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd">

    <import resource="springBeansDB.xml"/>
    <import resource="springBeanScope.xml"/>
    <import resource="collections/springCollections.xml"/>
    <import resource="collections/springCollectionList.xml"/>
    <import resource="collections/springCollectionSet.xml"/>
    <import resource="collections/springCollectionMap.xml"/>
    <import resource="springBeansDate.xml"/>
    <import resource="springBeansLinkPropertiesFiles.xml"/>

    <import resource="inheritance/springBeansInheritance.xml"/>

    <context:component-scan base-package="com.mtsmda.springCore.beanScopes"/>


    <bean id="person" class="com.mtsmda.springCore.Person">
        <property name="firstname" value="Ivanov"/>
        <property name="lastname" value="Ivan"/>
        <property name="middlename" value="Ivanovici"/>
    </bean>

    <bean id="customer" class="com.mtsmda.springCore.Customer">
        <constructor-arg ref="person"/>
    </bean>

    <bean id="customer2" class="com.mtsmda.springCore.Customer">
        <constructor-arg name="person">
            <bean class="com.mtsmda.springCore.Person">
                <property name="firstname" value="Ivanov"/>
                <property name="lastname" value="Ivan"/>
                <property name="middlename" value="Ivanovici"/>
            </bean>
        </constructor-arg>
    </bean>


</beans>