<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

       <import resource="springBeansDI2.xml"/>

       <bean id="fileOutputGeneratorCSV" class="com.mtsmda.springCore.di.FileOutputGenerator">
              <property name="outputGenerator">
                     <ref bean="csvOutputGenerator"/>
              </property>
       </bean>

       <bean id="fileOutputGeneratorJSON" class="com.mtsmda.springCore.di.FileOutputGenerator">
              <property name="outputGenerator">
                     <ref bean="jsonOutputGenerator"/>
              </property>
       </bean>

       <bean id="fileOutputGeneratorXML" class="com.mtsmda.springCore.di.FileOutputGenerator">
              <property name="outputGenerator" ref="xmlOutputGenerator"/>
       </bean>

</beans>