<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/util
	http://www.springframework.org/schema/util/spring-util.xsd">

       <bean id="exampleListFactoryBean" class="com.mtsmda.springCore.collections.ExampleListFactoryBean">
              <property name="stringList">
                     <bean class="org.springframework.beans.factory.config.ListFactoryBean">
                            <property name="targetListClass">
                                   <value>java.util.ArrayList</value>
                            </property>
                            <property name="sourceList">
                                   <list>
                                          <value>Barcelona</value>
                                          <value>Milan</value>
                                          <value>Chelsea</value>
                                   </list>
                            </property>
                     </bean>
              </property>
       </bean>


       <bean id="exampleListFactoryBean2" class="com.mtsmda.springCore.collections.ExampleListFactoryBean">
              <property name="stringList">
                     <util:list list-class="java.util.LinkedList">
                            <value>Milk</value>
                            <value>Bread</value>
                     </util:list>
              </property>
       </bean>

</beans>