<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="general" class="com.mtsmda.springCore.inheritance.Player" abstract="true">
        <property name="id" value="0"/>
    </bean>

    <bean id="cronaldo" class="com.mtsmda.springCore.inheritance.Player" parent="general">
        <property name="id" value="1"/>
        <property name="name" value="C.Ronaldo"/>
        <property name="number" value="7"/>
        <property name="footballClub" value="Real Madrid"/>
    </bean>

    <bean id="ronaldo" parent="cronaldo">
        <property name="id" value="2"/>
        <property name="name" value="Ronaldo"/>
        <property name="number" value="9"/>
    </bean>

</beans>